p {
font-family: Arial, Helvetica, sans-serif;
color: black !important;
}

.foto-perfil {
height: 100%;
width: 250px;
max-width: auto;
border-radius: 50%;
}

.icones {
padding-left: 5px;
}

.titulosBrancos {
text-decoration: underline;
text-underline-position: under;
padding-bottom: 20px;
text-transform: uppercase;
font-weight: 700;
color: white;
}

.titulosVerdes {
text-decoration: underline;
text-underline-position: under;
padding-bottom: 20px;
text-transform: uppercase;
font-weight: 700;
color: #18bc9c;
}

.paragrafoBrancos {
color: white !important;
}

.jumbotron {
margin-bottom: 0px;
}

html {
scroll-behavior: smooth;
}

p {
color: black !important;
}

.corPrimaria {
background-color: aquamarine
}

.itemMenu {
color: white;
}

footer.text-center{
    background-color: blueviolet;
    padding: 0;
    margin: 0;
}

footer.text-center p{
    margin:0px;
    padding-top:15px;
    padding-bottom:15px;color:white !important
}